.container {
    display: flex;
    flex-direction: row;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.left-bar {
    margin: none;
    width: 50px;
    height: 100vh;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);

    &>:first-child {
        margin-top: 15px;
    }

    &>:last-child {
        margin-bottom: 15px;
    }

}

.IconButton {
    cursor: pointer;
    color: #383838;
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;

    padding: 10px;
    transition: color, text-shadow 0.3s ease-in-out;

    &:hover {
        color: #000;
        text-shadow: #8f9bb6 0px 0px 10px;
    }
}

.hide {
    display: none !important;
}

.notes {
    width: calc(100vw - 50px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.floatButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.note-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}

.creating-note-tab {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    background: #e2e2e2;
    padding: 40px;
    position: absolute;
    z-index: 100;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & .tab-icon {
        position: absolute;
        top: 10px;
        right: 0;
    }
}

.FormControll {
    padding: 10px;
    width: fit-content;
    height: fit-content;

    border: none;
    background: none;
    outline: none;
}

.Note-view {
    min-height: 100px;
    width: 500px;
    text-wrap: wrap;
    padding: 20px;

    overflow: hidden;
    display: flex;

    align-items: center;
    text-wrap: wrap;

    flex-direction: column;

    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);

    & .Note-title {
        font-size: 1.5rem;
        font-weight: 700;
        padding: 10px;
        border-bottom: 1px solid #e2e2e2;
        width: 100%;
        text-wrap: balance;
    }

    & .Note-content {
        padding: 10px;
        width: 100%;
        min-height: 100px;
        text-wrap: pretty;
    }

    & .Note-date {
        font-size: 0.8rem;
        padding: 10px;
        border-top: 1px solid #e2e2e2;
        width: 100%;
        text-align: right;
    }

    & .Note-Button {
        cursor: pointer;
        color: #383838;
        font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
        padding: 10px 20px;

        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
        border-radius: 3px;

        transition: color, text-shadow 0.3s ease-in-out;

        &:hover {
            color: #000;
            text-shadow: #8f9bb6 0px 0px 10px;
            box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
        }

    }

    & .Note-Label {
        font-size: 0.8rem;
        padding: 10px;
        color: red;
        width: 100%;
        text-align: left;
    }
}

.note {
    margin-block: 10px;
    margin-inline: 20px;
    overflow-x: hidden;
    width: 400px;
    max-width: 100%;
    position: relative;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    & h3 {
        font-size: 1.5rem;
        font-weight: 700;
        padding: 10px;
        border-bottom: 1px solid #e2e2e2;
        width: 100%;
        text-wrap: balance;
    }

    & p {
        padding: 10px;
        width: 100%;
        min-height: 100px;
        text-wrap: pretty;
    }

    &>.note-date {
        font-size: 0.8rem;
        padding: 10px;
        border-top: 1px solid #e2e2e2;
        width: 100%;
        height: fit-content;
        text-align: right;
    }

    &>:first-child {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.no-notes {
    font-size: 5rem;
    font-weight: 700;
    color: #383838;
    text-align: center;
    align-self: center;
    margin-top: calc(50vh - 5rem);

}

/* Tasks */
.Tasks {
    width: calc(100vw - 50px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.TaskAdder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &>input {
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin: 10px;
        outline: none;
        width: 90%;
        font-size: 1.5rem;
        font-weight: 700;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px;
    }

    &>button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin: 10px;
        outline: none;
        width: 30%;
        font-size: 1.5rem;
        font-weight: 700;
        cursor: pointer;
        background: #383838;
        color: #fff;
        transition: background 0.3s ease-in-out;

        &:hover {
            background: #000;
        }
    }
}

.TaskList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Task {
    box-shadow: hsla(0, 0%, 0%, 0.384) 2px 0px 8px 0px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;

    &>:first-child {
        width: 10%;
        display: flex;
        justify-content: center;
        transform: translateY(3px);
    }

    &>:nth-child(2) {
        width: 85%;
        display: flex;
        word-break: break-all;
        word-wrap: break-word;
        font-size: 1.5rem;
    }

    &>:last-child {
        width: 5%;
        display: flex;
        justify-content: center;
    }

}

.task-done {
    text-decoration: line-through;
    box-shadow: #39b143 2px 0px 9px 0px;
}

.TaskRemove {
    cursor: pointer;
    color: #383838;
    padding: 10px;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: #383838 0px 0px 3px 0px;

    height: fit-content;

    &:hover {
        box-shadow: #383838 0px 0px 5px 0px;
    }

}

@media (max-width: 450px) {

    .floatButton {
        bottom: calc(10px + 50px);
    }

    .container {
        flex-direction: column-reverse;
    }

    .notes {
        width: 100vw;
        height: calc(100vh - 50px);
    }

    .Tasks {
        width: 100vw;
        height: calc(100vh - 50px);
    }

    .left-bar {
        width: 100vw;
        height: 50px;
        flex-direction: row;

        &>:first-child {
            margin-left: 15px;
            margin-bottom: 15px;
        }

        &>:last-child {
            margin-top: 15px;
            margin-right: 15px;
        }

    }

    .main {
        width: 100vw;
        height: calc(100vh - 50px);
    }
}

@media (max-width: 650px) {
    .note {
        width: 80%;
        height: fit-content;
        word-wrap: break-word;

        & h3 {
            word-wrap: break-word;
            word-break: break-all;
        }

        & p {
            word-wrap: break-word;
            word-break: break-all;
        }
    }

    .Note-view {
        width: 80%;
        max-width: 95%;
    }

    .creating-note-tab {
        width: 80%;
        max-height: 90%;

        & .Note-content {
            overflow-y: auto;
        }

        & .Note-title {
            overflow-y: auto;
        }
    }
}